body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
}

header{
    background-color: white;
    text-align: center;
    color: lightslategrey;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article{
    padding: 0px;
    background-color: rgba(9, 187, 143, 0.733);
    text-align: center;
    color: white;
    font-size: 10px;
    height: 240px;
    
}

.artigo{
    text-align: center;
    background-color: rgb(86, 79, 99);
    font-size: 12px;
    color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 14px;
}


.foto img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    width: 140px;
    height: 140px;

}

.socialmedia{
    
    display: flex; 
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    
}

.projetos{
    background-color: white;
    min-height: 340px;
    color: black;
    font-size: 15px;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
}

.links{
    display: flex;
    flex-direction: row;
    gap:8px;

}

.imagens img {
    width: 350px;
    height: 200px;  
}
 .imagens {
    gap: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
 }













